/* StyleSheet */


body {
    height: 100vh;
    margin: 25px 0 0 0;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

#container {
    display: flex;
    justify-content: center;
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    max-height: 600px;
    border: 2px solid red;
}

.gridSquare {
    margin: 0;
    border: 0.5px solid;
}